@import './variables';

.label {
  display: flex;
  width: $field_size;
  height: $field_size;
  justify-content: center;
  align-items: center;
  color: white;
  padding: $field_padding;
}

.field {
  display: flex;
  width: $field_size;
  height: $field_size;
  justify-content: center;
  align-items: center;
  padding: $field_padding;
}

.col {
}

.row {
  display: flex;
}

.dark {
  background-color: $col_field_dark;
}

.light {
  background-color: $col_field_light;
}
