@import './variables';

.panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ccc;
  width: 12rem;
  height: 8 * $field_size + 16 * $field_padding;
  padding: 1rem;
}

.player-row {
  display: flex;
  gap: 0.5rem;
}

.history {
  flex: 1;
  align-content: start;
}

.player {
  flex: 1;
  &.black {
    background-color: $col_player_black;
  }

  &.white {
    background-color: $col_player_white;
  }
}

.actions {
  display: flex;
  gap: 0.5rem;
}
